<nav>
    <ul>
        <li><a routerLink="/map">Map</a></li>
        <li><a routerLink="/subject-vs-observable">Subject vs Observable</a></li>
        <li><a routerLink="/switch-map">SwitchMap</a></li>
        <li><a routerLink="/forkJoin">ForkJoin</a></li>
        <li><a routerLink="/combine-all">CombineAll</a></li>
        <li><a routerLink="/take">Take</a></li>
        <li><a routerLink="/filter">Filter</a></li>
        <li><a routerLink="/find">Find</a></li>
        <li><a routerLink="/debounce-time">DebounceTime</a></li>
        <li><a routerLink="/catch">Catch</a></li>
        <li><a routerLink="/of">Of</a></li>
        <li><a routerLink="/from">From</a></li>
    </ul>
</nav>